.inactive {
    color: black;
    text-decoration: none;
    padding: 6px;
    user-select: none;
}

.isActive{
    color: darkmagenta;
    font-weight: 700;
    padding: 6px;
    user-select: none;
    text-decoration: none;
}

.filterPanelMenu {
    display: flex;
    flex-direction: row;
    margin: auto;
}
