.Background {
  position:absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./modalbackground.png");
  margin:0px;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
}

.Foreground {
  position: relative;
  transform: translate(50%, 50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    padding: 35px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.ExitButton {
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  margin-left: 95%;
}

.ModalMessage {
  font-size: 25px;
  font-weight: bold;
}

.ModalButton_Yes {
  background-color: #2ecc71;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 40px 10px;

}

.ModalButton_No {
  background-color: #e74c3c;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
}